/* * {
	font-family: 'Montserrat', sans-serif;
} */
.w-100{
    height: 100vh;
}

.bg-light {
	background-color: transparent !important;
}
.carousel-item {
	height: 100vh;
	min-height: 300px;
}
.carousel-caption {
	bottom: 220px;
}
.carousel-caption h5 {
	font-size: 45px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 25px;
    color:white
}
.carousel-caption p {
	width: 60%;
	margin: auto;
	font-size: 20px !important;
	line-height: 1.9;
    color:white;
}
.carousel-caption a {
	text-transform: uppercase;
	text-decoration: none;
	background: #74a8cf;;
	padding: 10px 30px;
	display: inline-block;
	color: #ffffff !important;
	margin-top: 15px;
}
@media only screen and (max-width: 767px) {

	.carousel-caption {
		bottom: 165px;
	}
	.carousel-caption h5 {
		font-size: 17px;
	}
	.carousel-caption a {
		padding: 10px 15px;
		font-size: 15px;
	}
}
